<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>My Profile</h3>
      <hr>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <p>First Name: {{user.givenName}}</p>
      <p>Last Name: {{user.surname}}</p>
      <p>Email: {{user.email}}</p>
    </div>
  </div>
</div>